/* static/css/main.css */
body {
    font-family: 'Arial', sans-serif;
    background-color:  #4FC3F7;
}

h1 {
    color: #343a40;
}

.form-group label {
    font-weight: bold;
    color: #495057;
}

.table {
    margin-top: 20px;
    background-color:#ffffff;
}

.table thead th {
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
